@font-face {

    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Regular.woff);
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

.container {

    width: 1660px;
    height: 3500px;
    /* background-color: #ffffff; */

}

/* header */

.header {

    width: 1660px;
    height: 450px;
    display: flex;
    
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    z-index: -1;

  }

.header::after {

    content: "";
    width: 1660px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;

}

.top-panel {

    width: 1170px;
    height: 69px;
    margin-right: 245px;
    margin-left: 245px;

    display: flex;    
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    z-index: 1;  

}

.logo {

    width: 179px;
    height: 41px;
    margin-top: 28px;

}

.menu {

    width: 464px;
    height: 30px;
    margin-top: 45px;
    
}

.menu-list {

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

}

.menu-list__item {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    text-transform: uppercase;  
    
}

.menu-list__item:nth-child(n+2) {

    margin-left: 28px;
}

.menu-link {

    text-decoration: none;
    color: #ffffff;

}

.menu-link:hover {

    text-decoration: underline;
    
}

.header-slogan {

    width: 1170px;
    height: 381px;
    display: flex;    

    position: absolute;
    z-index: 1;

    margin-top: 69px;
    margin-right: 245px;
    margin-left: 245px;
    

}

.header-slogan__text {

    margin: 0 260px;
    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 75px;

    text-transform: uppercase;
    text-align: center;
    margin-top: 84px;

}

/* trends */

.trends {

    width: 1660px;
    height: 442px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;

}

.trends-title {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;

    position: relative;
    margin-top: 63px;
    margin-bottom: 41px;
    
}

.trends-title:after { 

    content: "";
    width: 67px;
    height: 3px;

    position: absolute;
    top: 33px;
    right: 62px;

    opacity: 0.4;
    background-color: #ae9e5f;
   
}

.trend-posts {

    width: 1660px;
    height: 320px;
    display: flex;

}

.trend-post {

    width: 412px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #606260;
    z-index: 0;
    
}

.trend-post:nth-child(n+2) {

    margin-left: 4px;

}

.trend-post:after {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background-color: #0f0d0e;
    z-index: 1;

}

.trend-img {

    width: 414px;
    height: 320px;
    
}

.trend-content {

    width: 371px;
    box-sizing: border-box;
    border: 3px solid rgba(174,158,95,0.6);
    position: absolute;
    right: 22px;
    bottom: 16px;
    left: 18px;
    z-index: 2;
    padding-left: 32px;

}

.trend-tag {
     
    display: flex;
    justify-content: start;
    margin-top: 38px;
    padding: 0;

}

.trend-tag__item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase; 

}

.trend-tag__item:nth-child(n+2) {

    margin-left: 20px;

}

.trend-tag__item:hover {

    text-decoration: underline;
    font-weight: bolder;

}

.trend-name {

    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 11px;
    margin-bottom: 32px;
    
}

.trend-name:hover {

    font-weight: bolder;
}

/* post-list */

.posts-list {

    width: 775px;
    height: 1712px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 65px;
    margin-left: 245px;

}

.post-list {

    width: 775px;
    height: 295px;
    display: flex;
    align-items: flex-start;

}

.post-list:nth-child(n+2) {

    margin-top: 62px;
}

.post-list__item {

    display: block;

}

.post-list__img {

    width: 380px;
    height: 295px;
    background-color: #f1f6f1;
    
}

.post-list__item {

    margin-left: 31px;

}

.post-head {

    display: block;
    
}

.post-tag {
     
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;

}

.post-tag__item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase; 

}

.post-tag__item:nth-child(n+2) {

    margin-left: 20px;

}

.post-tag__item:hover {

    text-decoration: underline;
    font-weight: bolder;

}

.post-title {

    font-family: OpenSans-Bold, sans-serif;
    color: #161516;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 37px;
    
}

.post-title:hover {

    font-weight: bolder;
}

.post-inform {

    display: flex;
    margin-bottom: 55px;

}

.post-date {

    font-family: OpenSans-Regular, sans-serif;
    color: #888888;
    font-size: 12px;
    
}

.post-author {

    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 12px;
    margin-left: 15px;

}

.post-description {

    font-family: OpenSans-Regular, sans-serif;
    color: #161516;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    
}


/* shop */

.shop {

    width: 1170px;
    height: 563px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

    margin-left: 245px;
    margin-right: 245px;
    margin-bottom: 67px;

}

.shop-title {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-top: 63px;
    margin-bottom: 41px;
    color: #0f0d0e;
    
}

.shop-title::after {

    content: "";
    width: 67px;
    height: 3px;

    position: absolute;
    top: 33px;
    right: 52px;

    opacity: 0.4;
    background-color: #ae9e5f;

}

.products {

    display: flex;
    width: 1170px;
    height: 440px;
    

}

.product {

    display: flex;
    width: 440px;
    height: 348px;
    position: relative;

}

.product:nth-child(n+2) {
    
    margin-left: 65px;

}

.product-picture {

    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 23px;

}

.product-card {

    width: 345px;
    height: 270px;
    box-sizing: border-box;
    border: 3px solid rgba(174,158,95,0.6);
    position: absolute;
    top: 173px;
    left: 0;

}

.product-content {

    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 57px;
        
}

.product-name {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
   
}

.product-description {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;

}

.product-description:hover {

    font-family: OpenSans-Bold;

}

.product-link {

    color: #cabb92;
    text-decoration: none;
}

.product-link:hover {

    text-decoration: underline;

}

.product-footer {

    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.product-prices {
    font-family: OpenSans-Bold, sans-serif;
    top: 8px;
}

.product-old-price {

    font-size: 14px;
    text-decoration: line-through;
    margin-bottom: 5px;
    

}

.product-new-price {

     font-size: 20px;

}

.product-button {

    width: 140px;
    height: 50px;
    background-color: #b59f5b;
    border-radius: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}


/* footer */

.footer {
    
    width: 1170px;
    height: 213px;

    margin-left: 245px;
    margin-right: 245px;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.socials {

    width: 1170px;
    height: 83px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f4f7f6;

}

.socials-links {

    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 

}

.socials-link:nth-child(n+2) {

    margin-left: 30px;

}

.logo-dribbble {

    width: 20px;

}

.logo-pinterest {

    width: 16px;

}

.logo-tumblr {

    width: 13px;

}

.copyrights {

    width: 1170px;
    height: 130px;
    box-sizing: border-box;
    padding-top: 74px;
    padding-bottom: 44px;
    
}

.copyrights-info {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin: 0;

}